@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');


body {
  font-family: 'Comic Neue', cursive;
  font-size: 1.2em;
  background-color: pink;
}

.container {
  background-color: white;
  margin-top: 2em;
  padding-top: 0;
  padding-bottom: 2em;
  border-radius: 0.5em;
  margin-bottom: 2em;
}

h1, h2, h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
}

h2, h3 {
  margin-top: 2em;
}

h1~p.lead, h2~p.lead {
  text-align: center;
}

.rule {
  border-top: 2px solid rgba(0.5, 0.5, 0.5, 0.1);
  margin-left: 0em;
  margin-bottom: 1em;
}

a {
  color: hotpink;
  font-weight: 700;
}

a:hover {
  color: magenta;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover {
  color: white;
}
